# hybrid-auth environment variables

PORT='port'

NODE_ENV='development'

LOG_LEVEL='log_level'

CORS_ORIGIN='cors_origin'

CRYPTO_SECRET='crypto_secret'

DATABASE_URL='database_url'

JWT_ACCESS_SECRET='jwt_access_secret'

JWT_REFRESH_SECRET='jwt_refresh_secret'

RESEND_API_KEY='resend_api_key'

REDIS_URL='redis_url'

GMAIL_USER='gmail_email'

GMAIL_APP_PASSWORD='16-character app password'

EMAIL_FROM='email_from'

CLOUDINARY_CLOUD_NAME='cloudinary_cloud_name'

CLOUDINARY_API_KEY='cloudinary_api_key'

CLOUDINARY_API_SECRET='cloudinary_api_secret'

GITHUB_CLIENT_ID='github_client_id'

GITHUB_CLIENT_SECRET='github_client_secret'

GITHUB_REDIRECT_URI='github_redirect_uri'

GOOGLE_CLIENT_ID='google_client_id'

GOOGLE_CLIENT_SECRET='google_client_secret'

GOOGLE_REDIRECT_URI='google_redirect_uri'
